Main: https://github.com/DataTalksClub/machine-learning-zoomcamp/blob/master/cohorts/2024/01-intro/homework.md

Data: https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

In [2]:
import pandas as pd
import numpy as np
import sklearn as skl

## Question 1. Pandas version (1 point)

In [3]:
pd.__version__

'2.1.4'

## Question 2. Records count (1 point)

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-18 23:13:59--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  --.-KB/s    in 0.04s

2024-09-18 23:13:59 (7.40 MB/s) - ‘laptops.csv’ saved [298573/298573]

In [5]:
df = pd.read_csv('laptops.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

## Question 3. Laptop brands (1 point)

In [7]:
len(df['Brand'].unique())

27

## Question 4. Missing values

In [24]:
len(df.columns[df.isnull().any()])

3

## Question 5. Maximum final price

In [15]:
df[df['Brand'] == 'Dell']['Final Price'].max()

3936.0

## Question 6. Median value of Screen

In [25]:
df['Screen'].median()

15.6

In [26]:
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [27]:
df['Screen'].fillna(df['Screen'].mode()[0], inplace=True)

In [28]:
df['Screen'].median()

15.6

## Question 7. Sum of weights

In [44]:
X = df[df['Brand'] == 'Innjoo'][['RAM', 'Storage', 'Screen']].to_numpy()

In [46]:
XTX = np.dot(X.T, X)

In [48]:
XTX_inv = np.linalg.inv(XTX)

In [50]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

In [54]:
X_T = X.T

temp = np.dot(XTX_inv, X_T)

w = np.dot(temp, y)

w.sum()

91.2998806299555